@font-face {
  font-family: "lightFont";
  src: url(../font/pxiByp8kv8JHgFVrLDz8Z1xlFd2JQEk.woff2);
}
@font-face {
  font-family: "primaryFont";
  src: url(../font/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2);
}
@font-face {
  font-family: "bolderFont";
  src: url(../font/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2);
}
@font-face {
  font-family: "boldFont";
  src: url(../font/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "primaryFont";
}

:root {
  --primary-blue: #3698f9;
  --primary-gray: #707070;
}

.container {
  max-width: 73rem;
  margin: 0 auto;
  padding: 0 1rem;
}
/* header  */
/* top nav  */
.top-nav {
  background-color: #000;
  color: #fff;
}
.top-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* top nav left  */
.top-nav-left {
  font-size: 0.8rem;
  display: flex;
}
.top-nav-left p {
  padding-right: 1rem;
}
.top-nav-left span {
  display: none;
  font-size: 1.2rem;
  padding-right: 1.5rem;
}
/* top nav right  */
.top-nav-right {
  background-color: var(--primary-blue);
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 0.7rem;
  padding: 0.57rem 1.8rem;
  margin: 0.1rem 0;
}
/* menu bar  */
.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background-color: #fff;
}
.menu li {
  list-style: none;
  display: inline-block;
  transition: all 0.7s;
}
.menu li a {
  text-decoration: none;
  color: #000;
  font-size: 0.77rem;
  padding: 0 0.5rem;
  transition: all 0.3s;
}
.menu li a:hover {
  color: var(--primary-gray);
}
.submenu {
  display: none;
  flex-direction: column;
  background-color: #fff;
  padding: 0.6rem;
  position: absolute;
  top: 12%;
  z-index: 1;
}
.submenu li {
  padding: 0.5rem 0;
  padding-right: 2.7rem;
}
.menu li:hover .submenu {
  display: flex;
}
/* header icon  */
.header-icon {
  font-size: 1.7rem;
  display: none;
}
/* header background  */
.header-bg {
  background-image: url(../image/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 86.2vh;
  color: #fff;
  position: relative;
}
.header-text {
  position: absolute;
  top: 20%;
  left: 10%;
}
.header-text h1 {
  font-size: 2.9rem;
  line-height: 3.3rem;
  font-family: "bolderFont";
}
.header-text p {
  font-size: 0.9rem;
  font-family: "lightFont";
  margin: 2rem 0;
}
.header-text button {
  background-color: transparent;
  border: none;
}
.header-text button a {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  font-size: 0.9rem;
  padding: 0.7rem 1.8rem;
  margin: 1rem 0;
  border-radius: 1.7rem;
  border: 1px solid #fff;
  transition: all 0.4s;
}
.header-text button a:hover {
  background-color: var(--primary-blue);
  color: #fff;
}
/* main  */
/* brands  */
.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 7rem 0;
  margin: auto;
}
.brand {
  margin: 0 2rem;
  filter: grayscale(100%);
  transition: all 0.4s;
}
.brand:hover {
  filter: none;
}
/* brand details  */
.brand-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5rem;
  margin-bottom: 7rem;
  border-bottom: 1px solid #dcdcdc;
}
.detail-name {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dcdcdc;
  padding-right: 4.4rem;
}
.detail-name p,
.detail-desc {
  color: var(--primary-gray);
  font-size: 0.9rem;
  font-family: "lightFont";
}
.detail-desc {
  width: 77%;
  margin-left: 1rem;
}
/* plans  */
.plans {
  margin-bottom: 4rem;
}
.plan-title h1 {
  text-align: center;
  font-size: 2.1rem;
  font-family: "boldFont";
}
.plan-title p {
  text-align: center;
  color: var(--primary-gray);
  font-family: "lightFont";
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}
/* plan box  */
.plans-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.plan-box {
  background-color: #f9f9ff;
  margin: 0 1rem 2rem 1rem;
}
/* plan header  */
.plan-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2.7rem 2rem 2.7rem;
  border-bottom: 1px solid #dcdcdc;
}
/* plan name in header  */
.plan-name p,
.plan-desc p {
  color: var(--primary-gray);
  font-family: "lightFont";
  font-size: 0.94rem;
}
/* plan price in header  */
.plan-price {
  font-family: "bolderFont";
  font-size: 2rem;
}
/* plan description  */
.plan-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: all 0.8s;
}
.plan-desc p {
  padding-bottom: 1.7rem;
}
.desc-detail {
  padding: 2rem 2.7rem 2rem 2.7rem;
  border-bottom: 1px solid #dcdcdc;
}
.desc-feature {
  padding: 2rem 2.7rem 2rem 2.7rem;
}
/* plan button  */
.desc-btn {
  background-color: transparent;
  border: none;
  margin: 0rem 2.7rem 2rem 2.7rem;
}
.desc-btn a {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-size: 0.87rem;
  font-family: "boldFont";
  padding: 0.8rem 2rem;
}
.desc-btn a span {
  padding-left: 0.5rem;
  transition: all 0.7s;
}
/* plan hovers  */
.plan-box:hover .plan-desc {
  background-color: var(--primary-blue);
  box-shadow: 5px 8px 9px #dcdcdc;
}
.plan-box:hover .desc-feature p,
.plan-box:hover .desc-detail {
  color: #fff;
}
.plan-box:hover .desc-btn a {
  background-color: #fff;
  color: #000;
}
.plan-box:hover .desc-btn a span {
  padding-left: 0.5rem;
}
/*
.
.
.
.
.
.
.
.
.
.
.
*/
/* Responsive */
@media screen and (max-width: 576px) {
  /* top nav  */
  .top-nav-left p {
    display: none;
  }
  .top-nav-left span {
    display: flex;
  }
  /* header text  */
  .header-text {
    top: 10%;
    left: 3%;
  }
  .header-text h1 {
    font-size: 2.4rem;
  }
  /* plan description  */
  .plan-desc {
    text-align: center;
    align-items: center;
  }
  .plan-desc p {
    font-size: 0.87rem;
  }
  .desc-btn a {
    padding: 0.6rem 1.7rem;
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 768px) {
  /* menu  */
  .menu {
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -16rem;
    z-index: 2;
    transition: all 0.5s;
  }
  .menu li {
    display: block;
    padding: 0.8rem;
  }
  .menu li a {
    color: #fff;
    font-size: 1rem;
    padding-right: 8rem;
  }
  .submenu {
    display: none;
    background-color: #000;
    top: 45%;
  }
  .submenu li a {
    padding-right: 0rem;
  }
  .menu li:hover .submenu {
    display: block;
  }
  .header-icon {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  /* brand details  */
  .detail-name {
    border-right: none;
    margin-bottom: 2rem;
  }
  .detail-desc {
    margin-left: 0;
  }
  /* plans container  */
  .plans-container {
    flex-wrap: wrap;
  }
}
